*{
  margin: 0;
  font-family: "open sans" Sans-Serif;
  padding: 0;
  box-sizing:border-box;
  
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #000; 
}

.login_box{
  position: relative;
  width: 450px;
  height: 500px;
  background-color: lightblue;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


h1{
  
  font-size: 25px;
  color: #000;
  text-align: center;
}

.input_box{
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
 
}

.input_box label{
  position: absolute;
  top: 50%;
  left: 5px;
transform: translateY(-50%);
font-size: 1em;
color: #000;
pointer-events: none;

}
.input_box input{
  width: 100%;
  height: 50px;
  background: transparent;
}


