body{
  background-image: url("https://t3.ftcdn.net/jpg/02/15/50/80/360_F_215508033_7TBsQ0bLXcd9myCDDbwJCjsbb5DWzs6w.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-blend-mode: multiply;
  background-origin: padding-box;
   font-family: 'Open Sans', sans-serif;;
}


  *{
    font-size: 18px;
  }
  h2{
   font-size: 40px;
   color:  navy;
  }
  
  
  #Welcome_text {
  font-size: 23px;
  color: black;
}


#fill_text {
  font-size: 20px;
  
}


label {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333333;
  margin-bottom: 8px;
  font-weight: 600;
}


input {
  width: 109%;
  padding: 10px 12px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box;
  margin-bottom: 6px;
  transition: border-color 0.3s ease;
  background-color: #f9f9f9;
}


select {
  width: 28%;
  padding: 10px 12px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 6px;
  transition: border-color 0.3s ease;
  background-color: #f9f9f9;
}


input:focus {
  border-color: #lightblue;
  outline: none;
}
button {
  background-color: blue ;
  width: 15%;
  border-radius: 30px;
  color: white;
  margin-bottom: 8px;
  font-family: 'open sans',Sans-Serif;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

button:hover {
  background-color: #0056b3;
}





