body{
  background-position: flex;
  background-image: url('https://img.freepik.com/premium-photo/medical-supplies-pills-blue-background-healthcare-medicine-concept_94064-27180.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: movebg 5s linear 0s infinite;
}

@keyframes movebg{
  
}
input{
  width: 40%;
  border: 1px solid;
  border-color: skyblue;
  border-left: 8px;
  border-right: 0px;
  color: black;
 font-family: "open sans" Sans-Serif;
 font-size: .9em;
 
}
label{
  font-family: "open sans" Sans-Serif; 
  font-size: .9em;
  border-left: 8px;
  border-bottom: 2px;
}


button{
  text-align: center;
  font-display: flex;
  font-family: "open sans" Sans-Serif;
  font-size: .9em;
  width: 180px;
  border-radius: 12px;
  border: none;
  border-left: 80px;
  padding: 12px 20px;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  
}
button::after{
  content: "";
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:#333 ;
  left: 0;
  top: 0;
  border-radius: 10px;
  
  
}

button::before{
  content: "";
  background: linear-gradient( 45deg,
  #FF0000,#FF7300,#FFFB00,#00FFD5,
  #002BFF,#FF00C8,#FF0000,#48FF00);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(10px);
  transition: opacity .3s ease-in-out;
  animation: movement 20s linear infinite;
  border-radius: 10px;
  opacity: 0;
}

@keyframes movement{
  0%{ background-position:0 0;}
  50%{ background-position:400% 0;}
  100%{ background-position:0 0;}
  
}

button:hover::before{
  opacity: 1;
}


button:hover::after{
  background: transparent;
}

button:active{
  color: #000;
  font-weight: bold;
}



