body{
  background-position: flex;
  background-image: url('https://img.freepik.com/premium-photo/medical-supplies-pills-blue-background-healthcare-medicine-concept_94064-27180.jpg');
  background-size: 1100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: movebg 5s linear 0s infinite;
}

@keyframes movebg{
  
}
input{
  width: 40%;
  border: 1px solid;
  border-color: skyblue;
  border-left: 8px;
  border-right: 0px;
  color: black;
 font-family: "open sans" Sans-Serif;
 font-size: .9em;
 
}
label{
  font-family: open sans Sans-Serif; 
  font-size: .9em;
  border-left: 8px;
  border-bottom: 2px;
}
